.button {
  display: block;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  width: 100%;

  &.standard {
    background-color: #444;
    color: #fff;
  }

  &.primary {
    background-color: #ff792c;
    color: #fff;
  }

  &:disabled {
    background-color: #ffb08c;
  }

  span {
    float: right;
  }
}
